# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Virtual environment
.venv/

# Apple Wallet Pass certificates (sensitive!)
app/certificates/*.pem
app/certificates/*.p12
app/certificates/*.cer
app/certificates/*.key
