Flask==2.2.5
Flask-SQLAlchemy==2.5.1
gunicorn==21.2.0
SQLAlchemy==1.4.46
python-dotenv==1.0.0
Flask-WTF==1.2.1
email-validator==2.1.1
requests==2.31.0
pytest==8.0.0
passbook-py==1.1.1
python-barcode==0.15.1
